<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite1" verbose="10" parallel="classes">
	<!-- <parameter browser1="selenium.browser" value="*chrome" /> -->
	<!-- <parameter browser2="selenium.browser" value="*firefox" /> -->
	<test name="Dietician Users API">
		<classes>
			<class name="TestRunner.GetAllUsersRunner"></class>
			<class name="TestRunner.PostUsersRunner"></class>
		</classes>
	</test>
	<listeners>
		<listener class-name="ExtentReports.ExtentReporterNG" />
	</listeners>
</suite>
